body {
  background-color: #18134c;
  font-family: "Bradley Hand", cursive;
}

.nav {
  padding-top: 20px;
  font-size: 25px;
}

.nav-link {
  transition: all 500ms ease;
  color: #06cdff;
}

.nav-link:hover {
  transform: scale(1.3, 1.3) skew(-5deg, 0deg);
  color: #8200ff;
}

h1 {
  /*Hello, I'm Alexis*/
  color: #8200ff;
  font-size: 75px;
}

p {
  /* about me* and project description*/
  color: #06cdff;
  font-size: 25px;
}

h2 {
  /* want to work together */
  color: #06cdff;
  font-size: 35px;
  padding-bottom: 20px;
}

h3 {
  /* projet name */
  color: #06cdff;
  text-decoration: underline;
}

.row-content {
  padding: 35px 70px;
}

.alexis {
  border-radius: 120px;
  width: 350px;
  filter: grayscale(100%);
}

.tools {
  padding: 20px;
}

.logos {
  transition: all 500ms ease;
  width: 75px;
}

.logos:hover {
  transform: scale(1.3, 1.3);
}

.github1 {
  background-color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

@media screen 
and (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media screen 
and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.card {
  background-color: #470c85;
  padding: 1px;
}

.projects {
  transition: all 500ms ease;
}
.projects:hover {
  transform: scale(1.1, 1.1);
  border: 2px solid #8200ff;
}

.contactMe {
  border: 5px solid #470c85;
  border-radius: 10px;
  padding: 30px;
}

.sayHelloButton {
  transition: all 500ms ease;
  color: #8200ff;
  background-color: #06cdff;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  text-decoration: none;
  padding: 5px;
}

.sayHelloButton:hover {
  color: #06cdff;
  background-color: #8200ff;
}

.socials {
  background: linear-gradient(to bottom right, #06cdff, 40%, #8200ff, #470c85);
  border-radius: 10px;
  margin: 20px;
}

.socialLink {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  opacity: .75;
}